@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-custom-black;
  @apply font-blog;
}

p {
  @apply break-words;
}

article.prose a {
  @apply text-custom-primary;
  @apply decoration-custom-primary;
}

article.prose h1 {
  @apply text-2xl sm:text-[28px];
}

article.prose code:not(.hljs) {
  @apply rounded bg-custom-lightGray px-2 py-1 font-thin text-custom-black;
}
article.prose code:not(.hljs)::before,
article.prose code:not(.hljs)::after {
  @apply hidden;
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari 対応 */
  }
}
