:root {
  /* Colors */
  --color-white: #ffffff;
  --color-lightGray: #f5f5f6;
  --color-gray: #c9c9c9;
  --color-black: #222222;
  --color-red: #e10718;
  --color-orange: #ff6e27;
  --color-yellow: #ffd63d;
  --color-green: #00c85d;
  --color-sky: #00b8d2;
  --color-blue: #1362f9;
  --color-purple: #6806e4;
  --color-coopelloBlue: #5ac8d8;
}
